* {
  padding: 0;
  margin: 0;
}


/*-----Generales------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

a {
  color: #fab037;
  text-decoration: none;
}

a:hover {
  color: #ea6981;
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

 .empresa {
   background: #fff;
 }

 .formulario {
   background: #fff;
   height: 100vh;
   padding-top: 4rem;
   background-image: radial-gradient(circle at 0% 0%, #ffff4f 0, #fffd44 12.5%, #ffe53d 25%, #ffcb39 37.5%, #faaf36 50%, #e89535 62.5%, #d87e35 75%, #ca6b36 87.5%, #bd5c38 100%);
   color: #111;
   font-weight: 700;

   .section-title h3 {
    color: #111;
    font-weight: 700;
  }

  .section-title p {
    color: #111;
    font-weight: 700;
  }
  
 }


/*-----Botones-----*/
 .boton {
   display: flex;
   flex-direction: column;
   color: #F2F2F2;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 700;
   background-color: #3D9DF2;
   padding: 1rem 2rem;
 }

 .entrar a{
  background-color: $color-2;
  color: #D9D9D9;

  &:hover {
   background-color: #a2acdf;
   color: #0D0D0D;
  }
}

/*---Titulos---*/

.title {
  color: #fff;
  padding: 1rem;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  p {
    margin: 15px auto 0 auto;
    font-weight: 400;
  }

  h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 400;

    span {
      font-weight: bold;
    }
  }
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*---Parrafos---*/

.parrafo {
  color: #0D0D0D;
}





