/*---------------Header----------------*/

/*-----topBar-----*/
.logoB {
    width: 50px;
  }
  
  /*-----Hero-----*/
  
  #hero {
    width: 100vw;
  }
  
  .hero {
    background-color: #262840;
  }